
<!--section start-->
<section class="contact-page section-b-space" style="background-image: url('<%= image_path 'contacto-background.png'  %>')">
    <div class="container">
        <div class="row section-b-space">
           
            <div class="col-sm-12">
                <div class="contact-right">
                    <ul>
                        <div class="col-md-4" style="display: inline-block;">
                            <li>
                                <div class="contact-icon"><img src="<%= image_path 'icon/phone.png' %>"
                                        alt="Generic placeholder image">
                                    <h6>Contact Us</h6>
                                </div>
                                <div class="media-body">
                                    <p>+91 123 - 456 - 7890</p>
                                    <p>+86 163 - 451 - 7894</p>
                                </div>
                            </li>
                            
                        </div>
                        <div class="col-md-4" style="display: inline-block;">
                            <li>
                                <div class="contact-icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                                    <h6>Address</h6>
                                </div>
                                <div class="media-body">
                                    <p>ABC Complex,Near xyz, New York</p>
                                    <p>USA 123456</p>
                                </div>
                            </li>
                            
                        </div>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                        <%= form_for(ContactForm.new, html: {class:'theme-form'}) do |form| %>
                    <div class="form-row">
                            <div class="col-md-6">
                                <%= form.label :first_name %>
                                <%= form.text_field :first_name, class:"form-control", id:"name", placeholder:"Enter Your name", required:"" %>
                            </div>
                            <div class="col-md-6">
                                <%= form.label :last_name %>
                                <%= form.text_field :last_name, class:"form-control", id:"last-name", placeholder:"Email", required:"" %>
                            </div>
                            <div class="col-md-6">
                                <%= form.label :phone_number %>
                                <%= form.text_field :phone_number,class:"form-control", id:"email", placeholder:"Email", required:"" %>
                            </div>
                            <div class="col-md-6">
                                <%= form.label :email %>
                                <%= form.text_field :email, class:"form-control", id:"email" ,placeholder:"Email", required:"" %>
                            </div>
                            <div class="col-md-12">
                                <%= form.label :message %>
                                <%= form.text_area :message, class:"form-control", placeholder:"Write Your Message",
                                    id:"exampleFormControlTextarea1", rows:"6" %>
                            </div>


                            <div class="col-md-12">
                                  <div class="actions">
                                    <%= form.submit 'Send Your Message', class: 'btn btn-solid' %>
                                  </div>
                            </div>



                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

