
<!--section start-->
<section class="collection section-b-space ratio_square " style="background-image: url('<%= image_path 'products-background.png'  %>')">
    <div class="container">
        <div class="row partition-collection">
          <% if @products.size > 0 %>
            <% @products.each do |product| %>
              <div class="col-lg-3 col-md-6">
                  <div class="collection-block">
                      <div><img src="<%= image_path 'collection/1.jpg' %>" class="img-fluid blur-up lazyload bg-img"
                              alt=""></div>
                      <div class="collection-content">
                          <h3><%= product.name %></h3>
                          <p><%= product.description %></p><a
                              href="<%= product_path product %>" class="btn btn-outline">shop now !</a>
                      </div>
                  </div>
              </div>
            <% end %>
         <% else %>
            <h2>Sin productos agregados</h2>
         <% end %>
        </div>
    </div>
</section>
<!--Section ends-->

